{% extends 'bma/base.html' %}
{% load static %}

{% block page_head %}
  <link rel="stylesheet" href="{% static 'css/form_pessoa.css' %}">
{% endblock %}

{% block content %}
  <div class="form_pessoa">
    <form method="POST" class="bairro-form">{% csrf_token %}
      <label for="bairro">Bairro</label>
      <select id="bairro" name="Bairro" required>
      <option value="" selected disabled required>Selecione o bairro</option>
      <option value="0"> Nenhum </option>
      {% for bairro in bairros %}
        <option value="{{ bairro.id }}" {% if inst_id == bairro.id %}selected{% endif %}>{{ bairro.nome }}</option>
      {% endfor %}
      </select><br>
      <input type="submit" value="Submit">
    </form>
    <div class"botao_pular">
      <a href="{% url 'usuario_perfil' pk=pk %}" class="btn btn-default"> Pular </a>
    </div>
  </div>
{% endblock %}
